/*Style sheet for webpage*/
body{
	background-color: Bisque;
	color: Black;
	font-size: 18px;
	font-family: Constantia;
	margin-left: 10%;
	margin-right: 5%;
}

h1{
	font-size: 120px;
	border-left: ridge;
	border-color: Black;
	text-align: left;
	margin: 0;
	padding: 0;
}

h2{
	font-size: 80px;
	border-left: ridge;
	border-color: Black;
	text-align: left;
	margin: 0;
	padding: 0;
}

h3{
	font-size: 30px;
	color: Black;
}

h5{
	font-size: 20px;
	text-decoration: underline;
}

img{
	border-radius: 50%;
}
.button-bg{
	color: Black;
	font-size: 30px;
	display: inline-block;
	text-align: center;
	padding: 1%;
	background-color: #ffba66;
	margin-right: 5%;
}
.button-sm{
	color: Black;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	padding: 1%;
	background-color: #ffba66;
	margin-right: 5%;
}
.a{
	list-style-type: square;
	list-style-position: inside;
}
